@model IEnumerable<VLUTUTORS.Models.Loaituvan>

@{
    ViewData["Title"] = "Quản lý loại tư vấn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý loại tư vấn</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách loại tư vấn</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageConsultingType/AddType">
                        <i class="fas fa-plus"> </i>
                        Thêm loại tư vấn
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 20%">#</th>
                            <th style="width: 40%">Tên loại tư vấn</th>
                            <th style="width: 20%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenLoaiTuVan)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm"
                                           asp-action="EditType" asp-controller="ManageConsultingType" asp-route-id="@item.IdLoaiTuVan">
                                            <i class="fas fa-pen"> </i>
                                            Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                           data-toggle="modal"
                                           data-target="#deleteModal"
                                           onclick="document.getElementById('consultingID').value = @item.IdLoaiTuVan">
                                            <i class="fas fa-pencil-alt"> </i>
                                            Xóa
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <form asp-action="DeleteConsulting" method="post" asp-controller="ManageConsultingType">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5>Bạn muốn xóa loại tư vấn này?</h5>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">
                                Hủy
                            </button>
                            <button class="btn btn-primary" type="submit">
                                Đồng ý
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="consultingID" name="consultingID" />
            </form>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
