
@{
    ViewData["Title"] = "Chi tiết tài khoản";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thông Tin Tài Khoản</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container" style="margin-top: 20px; margin-bottom: 20px">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3 center-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Son_Tung_M-TP_1_%282017%29.png"
                                         alt="Admin"
                                         class="rounded-circle"
                                         width="150" />
                                    <div class="mt-3">
                                        <input style="width: 80px"
                                               type="file"
                                               name=""
                                               id="" /><br />
                                        <span>Định dạng: .JPEG, .PNG</span>
                                    </div>
                                    <div class="mt-3">
                                        <h4>Nguyễn Thanh An</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        an.197pm09415@vanlanguni.vn
                                    </div>
                                </div>
                                <hr />

                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ngày sinh</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        06/07/2001
                                    </div>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Giới tính</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="Nam"
                                           class="profile-input" />
                                </div>
                                <hr />

                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Số tài khoản</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="123456789"
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Tên ngân hàng</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="Vietcombank"
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Số Điện Thoại</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="0123456789"
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mật Khẩu Mới</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Nhập Lại Mật Khẩu</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Giới thiệu bản thân</h6>
                                    </div>
                                    <textarea name="" id="" cols="30" rows="10">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur earum aliquam ducimus officia odio illo animi rem deleniti incidunt, laborum, ipsum assumenda veritatis enim hic rerum reiciendis, maxime cum maiores.</textarea>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">
                                            Giới thiệu bản thân về việc gia sư
                                        </h6>
                                    </div>
                                    <textarea name="" id="" cols="30" rows="10">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur earum aliquam ducimus officia odio illo animi rem deleniti incidunt, laborum, ipsum assumenda veritatis enim hic rerum reiciendis, maxime cum maiores.</textarea>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <h4>Môn gia sư thứ 1:</h4>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Môn gia sư</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Anh văn cơ bản
                                    </div>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Điểm trung bình</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="8.5"
                                           class="profile-input" />
                                </div>

                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Tên chứng chỉ</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="IELTS 6.5"
                                           class="profile-input" />
                                </div>

                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ảnh minh chứng</h6>
                                    </div>
                                    <input type="text"
                                           name="img-cer"
                                           id="img-cer"
                                           onmouseover="(this.type='file')"
                                           onmouseleave="(this.type='text')"
                                           value="certificate.png"
                                           class="profile-input" />
                                </div>

                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Giới thiệu về môn gia sư</h6>
                                    </div>
                                    <textarea name="" id="" cols="30" rows="10">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur earum aliquam ducimus officia odio illo animi rem deleniti incidunt, laborum, ipsum assumenda veritatis enim hic rerum reiciendis, maxime cum maiores.</textarea>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <h4>Môn gia sư thứ 2:</h4>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Môn gia sư</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Tin học cơ bản
                                    </div>
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Điểm trung bình</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="8.5"
                                           class="profile-input" />
                                </div>
                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Tên chứng chỉ</h6>
                                    </div>
                                    <input type="text"
                                           name="sc-year"
                                           id=""
                                           value="MOS Expert"
                                           class="profile-input" />
                                </div>

                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ảnh minh chứng</h6>
                                    </div>
                                    <input type="text"
                                           name="img-cer"
                                           id="img-cer"
                                           onmouseover="(this.type='file')"
                                           onmouseleave="(this.type='text')"
                                           value="certificate.png"
                                           class="profile-input" />
                                </div>

                                <hr />
                                <div class="row-nowrap">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Giới thiệu về môn gia sư</h6>
                                    </div>
                                    <textarea name="" id="" cols="30" rows="10">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur earum aliquam ducimus officia odio illo animi rem deleniti incidunt, laborum, ipsum assumenda veritatis enim hic rerum reiciendis, maxime cum maiores.</textarea>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 flex-right mb-4">
                                        <input type="submit"
                                               value="Lưu thay đổi"
                                               class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

