@model VLUTUTORS.Models.Tieuchidanhgia

@{
    ViewData["Title"] = "EditCriteria";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/Admin/ManageEvaluationCriteria">Quản lý tiêu chí đánh giá</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa tiêu chí đánh giá</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <form method="post" asp-controller="ManageEvaluationCriteria" asp-action="EditCriteria">
        <input type="hidden" asp-for="IdTieuChi" />
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3>Chỉnh sửa tiêu chí đánh giá</h3>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Tên tiêu chí</h6>
                                        </div>
                                        @Html.TextBoxFor(item => item.TieuChi, "", new { @class = "col-sm-9 text-secondary" })
                                        @Html.ValidationMessageFor(m => m.TieuChi, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                            <input type="submit" value="Lưu" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.content -->
</div>
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}


