@model VLUTUTORS.Models.Ruttien;

<div class="modal fade"
     id="confirmModal-@Model.Id"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form asp-action="ConfirmWithdrawal" asp-controller="ManageTutorWallet" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdNguoiRut" />
        <input type="hidden" asp-for="SoTienRut" />
        <input type="hidden" asp-for="TrangThai" />
        <input type="hidden" asp-for="MaRutTien" />
        <input type="hidden" asp-for="ThoiGianRutTien" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Xác nhận rút tiền
                    </h5>
                </div>
                <div class="modal-body">
                    <span class="alert-danger">
                    </span>
                    <div class="form-group">
                        <label for="inputName">Mã rút tiền</label>
                        <span>@Model.MaRutTien</span>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Tên người rút</label>
                        <span>@Model.tenNguoiRut</span>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Số tiền rút</label>
                        <span>@Model.SoTienRut.ToString("#,##0.###") đồng</span>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Ngày yêu cầu</label>
                        <span>@Model.ThoiGianRutTien.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Hủy
                    </button>
                    <button type="submit" class="btn btn-5 custom-btn">Xác nhận</button>
                </div>
            </div>
        </div>
    </form>
</div>
