
@{
    ViewData["Title"] = "Quản lý ví gia sư";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-between">
                <div class="col-auto mr-auto"><h1>Quản lý ví gia sư</h1></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row " id="dropdown-filter">
            <div class="col d-flex">
                <label class="form-label" for="min">Ngày bắt đầu:</label>
                <input type="text"
                       class="form-control-sm"
                       id="min"
                       name="min"
                       style="width: 150px" />
                <label class="form-label ml-3" for="max">Ngày kết thúc:</label>
                <input type="text"
                       id="max"
                       name="max"
                       class="form-control-sm"
                       style="width: 150px" />
            </div>
        </div>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Mã giao dịch</th>
                    <th>Họ tên gia sư</th>
                    <th>Ngày giao dịch</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th class="th-action"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GS123456</td>
                    <td>Nguyễn Thanh An</td>
                    <td>24/02/2023</td>
                    <td>thanhan@gmail.com</td>
                    <td>Chưa xác nhận</td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="~/Admin/ManageTutorWallet/ConfirmMoney">
                            <i class="fas fa-pencil-alt"> </i>
                            Xác nhận
                        </a>
                    </td>
                </tr>
                <hr />
                <tr>
                    <td>GS654321</td>
                    <td>Ngô Thanh Tiến</td>
                    <td>24/02/2023</td>
                    <td>thanhtien@gmail.com</td>
                    <td>Đã xác nhận</td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="~/Tutors/ManageTutorWallet/ConfirmMoney">
                            <i class="fas fa-pencil-alt"> </i>
                            Xác nhận
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

