<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../tutor-index.html" class="brand-link">
        <img src="~/admin/img/favicon2.png"
             alt="AdminVLU Logo"
             class="brand-image"
             style="opacity: 0.8" />
        <span class="brand-text font-weight-light">Gia Sư Văn Lang</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admin/img/user2-160x160.jpg"
                     class="img-circle elevation-2"
                     alt="User Image" />
            </div>
            <div class="info">
                <a href="~/Tutors/Account">Nguyễn Thanh An</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="../tutor-index.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layouts-tutor/manage-calendar.html" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>Đăng ký lịch dạy</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layouts-tutor/manage-history.html" class="nav-link">
                        <i class="fa-solid fa-clock-rotate-left nav-custom"></i>
                        <p>Quản lý lịch sử gia sư</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layouts-tutor/manage-booking.html" class="nav-link">
                        <i class="fa-solid fa-calendar-check mr-2"></i>
                        <p>Quản lý đặt lịch</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layouts-tutor/manage-income.html" class="nav-link">
                        <i class="fas fa-comments mr-2"></i>
                        <p>Quản lý thu nhập</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-sign-out-alt mr-2"></i>
                        <p>Đăng xuất</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>