<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/Home/Index" class="brand-link">
        <img src="~/images/LogoVL.png"
             alt="AdminVLU Logo"
             class="brand-image"
             style="opacity: 0.8" />
        <span class="brand-text font-weight-light">Gia Sư Văn Lang</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Tutors/ManageTeachSchedule" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>Quản lý lịch dạy</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Tutors/ManageTeachHistory" class="nav-link">
                        <i class="fa-solid fa-clock-rotate-left nav-custom"></i>
                        <p>Quản lý lịch sử gia sư</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Tutors/ManageWallet" class="nav-link">
                        <i class="fas fa-wallet mr-2"></i>
                        <p>Quản lý ví</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <script>const getNavItem = document.querySelectorAll('.nav-item');
        getNavItem.forEach(item => {
            const link = item.querySelector('.nav-link');
            if (link.href === window.location.href) {
                item.classList.add('menu-open')
                link.classList.add('active')
            }
        })</script>
    <!-- /.sidebar -->
</aside>