<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin | @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/admin/fonts/fontawesome/css/all.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- IonIcons -->
    <link rel="stylesheet"
          href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/css/datatables.css" />
    <link rel="stylesheet" href="~/admin/css/adminlte.min.css" />
    <link rel="shortcut icon" href="~/images/LogoVL.png" type="image/png" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/toastr.min.js"></script>
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="navbar-item d-flex">
                    <a class="nav-link-item"> Xin chào Admin </a>
                    <a href="#"
                       class="nav-link-item"
                       data-toggle="modal"
                       data-target="#logoutModal"><i class="material-icons nav-link-item">logout</i></a>
                </li>
            </ul>
        </nav>
        <div class="modal fade"
             id="logoutModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Bạn muốn đăng xuất?
                        </h5>
                        <button class="close"
                                type="button"
                                data-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Chọn "Đồng ý" để kết thúc phiên đăng nhập của bạn</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default"
                                type="button"
                                data-dismiss="modal">
                            Hủy
                        </button>
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Logout", "Login")'">
                            Đồng ý
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("_SidebarPartialView")

        <!-- Content Wrapper. Contains page content -->
        @RenderBody();
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Bản quyền thuộc Văn Lang University &copy; 2022-2023.</strong>
            <div class="float-right d-none d-sm-inline-block"></div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

</body>
</html>
<script src="~/admin/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/admin/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="~/admin/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/admin/js/demo.js"></script>
<script src="~/admin/js/datatables.js"></script>
<script src="~/admin/js/datatables2.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/admin/js/pages/dashboard3.js"></script>
