<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="./index.html" class="brand-link">
        <img src="~/admin/img/favicon2.png"
             alt="AdminVLU Logo"
             class="brand-image"
             style="opacity: 0.9" />
        <span class="brand-text font-weight-light">Gia Sư Văn Lang</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/ManageTutors" class="nav-link">
                        <i class="fa-sharp fa-solid fa-user-group"></i>
                        <p>Quản lý gia sư</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layouts-admin/student-management.html"
                       class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>Quản lý học viên</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layouts-admin/manage-reviews.html" class="nav-link">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <p>Quản lý bài đánh giá</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layouts-admin/consulting-management.html" class="nav-link">
                        <i class="fa-sharp fa-solid fa-chalkboard-user"></i>
                        <p>Quản lý tư vấn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="feedback-management.html" class="nav-link">
                        <i class="fas fa-comments"></i>
                        <p>Quản lý phản hồi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layouts-admin/content-management.html" class="nav-link">
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        <p>Quản lý nội dung</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="layouts-admin/payment-history.html" class="nav-link">
                        <i class="fa-sharp fa-solid fa-money-check-dollar"></i>
                        <p>Lịch sử thanh toán</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>