    <!--====== HEADER PART START ======-->
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<header id="header-part">
    <!-- header logo support -->

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                    <nav class="navbar navbar-expand-lg">
                        @*                        <button class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>*@

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home">Trang Chủ</a>
                                </li>
                                @{
                                    if (@httpContextAccessor.HttpContext.Session.GetInt32("IdGiaSu") == 5)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Tutors/ManageTeachSchedule">Đến Trang Gia Sư</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/RegisterAsTutor">Trở Thành Gia Sư</a>
                                        </li>
                                    }
                                }

                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="BookTutor">Tìm Gia Sư</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Home/AboutUs">Về Chúng Tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Home/Contact">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- nav -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                    <div class="navbar-right">
                        <ul>
                            @if (@httpContextAccessor.HttpContext.Session.GetString("LoginId") != null)
                            {
                                <li class="nav-item">
                                    <a><i class="fa-solid fa-user-tie active"></i></a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="Accounts" asp-action="Details" asp-route-id="@httpContextAccessor.HttpContext.Session.GetInt32("LoginId")">Tài khoản</a></li>
                                        <li><a asp-controller="BookTutor" asp-action="HistoryBooking">Lịch Học</a></li>
@*                                        <li><a asp-controller="HistoryOfLearning" asp-action="Index">Lịch Sử Học</a></li>
*@                                        <li>
                                            <a href=""
                                               data-toggle="modal"
                                               data-target="#logoutModal"
                                               id="logout">Đăng Xuất</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Accounts" asp-action="Login"><i class="fa-solid fa-user-tie active"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- right icon -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <div class="modal fade"
         id="logoutModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Bạn muốn đăng xuất?
                    </h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Chọn "Đồng ý" để kết thúc phiên đăng nhập của bạn</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Hủy
                    </button>
                    <button class="btn btn-5 custom-btn" type="button" onclick="location.href='@Url.Action("Logout", "Accounts")'">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <script>
            const getNavItem = document.querySelectorAll('.nav-item');
            getNavItem.forEach(item => {
                const link = item.querySelector('.nav-link');
                if (link.href === window.location.href) {
                    link.classList.add('active')
                }
            })
        </script>
    }
    </header>

<!--====== HEADER PART ENDS ======-->