    <!--====== HEADER PART START ======-->
@model VLUTUTORS.Models.Noidung
<header id="header-part">
    <!-- header logo support -->

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                    <nav class="navbar navbar-expand-lg">


                        <div class="collapse navbar-collapse sub-menu-bar"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="/Home">Trang Chủ</a>

                                </li>
                                <li class="nav-item">
                                    <a href="about.html">Tìm Gia Sư</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Home/AboutUs">Về Chúng Tôi</a>
                                </li>

                                <li class="nav-item">
                                    <a href="~/Home/Contact">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- nav -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                    <div class="right-icon text-right">
                        <ul>
                            <li>
                                <a href="/Accounts/Details"><i class="fa-solid fa-user-tie active"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- right icon -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
</header>

<!--====== HEADER PART ENDS ======-->