
@{
    ViewData["Title"] = "Chi tiết gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<section id="teachers-singel" class="pt-30 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-50">
                    <div class="hero">
                        <img src="~/images/teacher1.png" alt="Teachers" />
                    </div>
                    <div class="name">
                        <h6>Mộng Trinh</h6>
                        <span>Anh văn cơ bản</span>
                    </div>
                    <div class="description">
                        <p>
                            Tôi được đánh giá là một người vui tính và hiện đại. Tôi luôn
                            tận tâm với công việc gia sư của mình, luôn mang đến cho người
                            học những buổi học đầy vui vẻ và sáng tạo.
                        </p>
                    </div>
                </div>
                <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right mt-50">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active"
                               id="dashboard-tab"
                               data-toggle="tab"
                               href="#dashboard"
                               role="tab"
                               aria-controls="dashboard"
                               aria-selected="true">Tổng Quát</a>
                        </li>
                        <li class="nav-item">
                            <a id="reviews-tab"
                               data-toggle="tab"
                               href="#reviews"
                               role="tab"
                               aria-controls="reviews"
                               aria-selected="false">Đánh Giá</a>
                        </li>
                        <li class="nav-item">
                            <a id="courses-tab"
                               data-toggle="tab"
                               href="#courses"
                               role="tab"
                               aria-controls="courses"
                               aria-selected="false">Lịch Dạy</a>
                        </li>
                    </ul>
                    <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="dashboard"
                             role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-40">
                                    <h5>Về tôi</h5>
                                    <p>
                                        Phong cách giảng dạy của tôi rất thân thiện và dễ gần.
                                        Tôi rất vui vẻ, kiên nhẫn và thích làm cho các bài học
                                        của tôi trở nên vui vẻ và hấp dẫn! Trong những năm qua,
                                        tôi đã dạy kèm rất nhiều sinh viên để đạt được kết quả
                                        mong muốn trong kỳ thi hoặc chỉ để cảm thấy tự tin hơn
                                        trong các môn học mà họ đang gặp khó khăn. Tôi thường
                                        xuyên sử dụng phương pháp dạy mới mẻ trong các bài dạy
                                        của mình, ...
                                    </p>
                                </div>
                                <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>Chứng chỉ</h5>
                                    <p>
                                        Tôi đạt được hai chứng chỉ là IELTS 6.5 và TOEIC 700
                                    </p>
                                </div>
                                <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>Môn tôi gia sư</h5>
                                    <p>
                                        Tiếng Anh là một ngôn ngữ mà tôi rất yêu thích, từ việc
                                        yêu thích nó mà tôi muốn truyền đạt tới các bạn sinh
                                        viên niềm yêu thích đó. Đồng thời giúp các bạn cũng cố
                                        thêm kiến thức và không còn xem Anh Văn là một nỗi sợ.
                                    </p>
                                </div>
                                <!-- singel dashboard -->
                            </div>
                            <!-- dashboard cont -->
                        </div>
                        <div class="tab-pane fade"
                             id="courses"
                             role="tabpanel"
                             aria-labelledby="courses-tab">
                            <h4 class="pt-3 pl-3 pr-3 text-center">
                                Đăng ký lịch theo tuần
                            </h4>
                            <p class="text-center p-2">
                                <i>Từ <b>16/01/2023</b> đến <b>22/01/2023</b></i>
                            </p>
                            <!--schedule -->
                            <table class="table table-schedule">
                                <thead>
                                    <tr class="text-center table-header">
                                        <th>Thứ</th>
                                        <th>Ngày</th>
                                        <th>Giờ</th>
                                        <th>Đặt Lịch</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>16/01/2023</td>
                                        <td>
                                            <select name="table-select" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>17/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>18/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>19/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>20/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>21/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">CN</td>
                                        <td>22/01/2023</td>
                                        <td>
                                            <select name="" id="">
                                                <option value="">8h-9h</option>
                                                <option value="">9h-10h</option>
                                                <option value="">10h-11h</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="main-btn table-btn">Đặt Lịch</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade"
                             id="reviews"
                             role="tabpanel"
                             aria-labelledby="reviews-tab">
                            <div class="reviews-cont">
                                <div class="title">
                                    <h6>Đánh giá của học viên</h6>
                                </div>
                                <ul>
                                    <li>
                                        <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img src="~/images/review/r-1.jpg" alt="Reviews" />
                                                </div>
                                                <div class="author-name">
                                                    <h6>Yến Ngân</h6>
                                                    <span>09/08/2022</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>
                                                    Gia sư rất thân thiện và vui vẻ, học rất thích
                                                </p>
                                                <div class="rating">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- singel reviews -->
                                    </li>
                                    <li>
                                        <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img src="~/images/review/r-2.jpg" alt="Reviews" />
                                                </div>
                                                <div class="author-name">
                                                    <h6>Quốc Duy</h6>
                                                    <span>30/10/2022</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>
                                                    Bài giảng rất sinh động và dễ hiểu, cách dạy hiện
                                                    đại, linh hoạt giúp mình tiếp thu khá tốt
                                                </p>
                                                <div class="rating">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- singel reviews -->
                                    </li>
                                </ul>
                                <div class="title pt-15">
                                    <h6>Hãy để lại đánh giá của bạn</h6>
                                </div>
                                <div class="reviews-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    <input type="text" placeholder="Họ" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    <input type="text" placeholder="Tên" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <div class="rate-wrapper">
                                                        <div class="rate-label">Đánh giá của bạn:</div>
                                                        <div class="rate">
                                                            <div class="rate-item">
                                                                <i class="fa fa-star"
                                                                   aria-hidden="true"></i>
                                                            </div>
                                                            <div class="rate-item">
                                                                <i class="fa fa-star"
                                                                   aria-hidden="true"></i>
                                                            </div>
                                                            <div class="rate-item">
                                                                <i class="fa fa-star"
                                                                   aria-hidden="true"></i>
                                                            </div>
                                                            <div class="rate-item">
                                                                <i class="fa fa-star"
                                                                   aria-hidden="true"></i>
                                                            </div>
                                                            <div class="rate-item">
                                                                <i class="fa fa-star"
                                                                   aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <textarea placeholder="Đánh giá"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <button type="button" class="main-btn">
                                                        Gửi đánh giá
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- row -->
                                    </form>
                                </div>
                            </div>
                            <!-- reviews cont -->
                        </div>
                    </div>
                    <!-- tab content -->
                </div>
                <!-- teachers right -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

