
@{
    ViewData["Title"] = "HistoryBooking";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container-table mt-20 pb-20">
    <h4>Lịch Sử Gia Sư</h4>
    <div class="row" id="dropdown-filter">
        <div class="col d-flex mr-10">
            <label class="form-label" for="min">Ngày bắt đầu:</label>
            <input type="text"
                   class="form-control-sm"
                   id="min"
                   name="min"
                   style="width: 150px" />
            <label class="form-label ml-1" for="max">Ngày kết thúc:</label>
            <input type="text"
                   id="max"
                   name="max"
                   class="form-control-sm"
                   style="width: 150px" />
        </div>
    </div>
    <table id="myTable" class="mt-100">
        <thead>
            <tr>
                <th>Môn Học</th>
                <th>Tên Gia Sư</th>
                <th>Ngày Học</th>
                <th hidden></th>
                <th>Giá Tiền</th>
                <th>Khung Giờ</th>
                <th>Trạng Thái</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td><a href="">Văn Đạt</a></td>
                <td>09/04/2023</td>
                <td hidden>04/09/2023</td>
                <td>70k VNĐ</td>
                <td>7h - 8h</td>
                <td class="done">Đã Học</td>
                <td><button class="btn-warning">Đánh giá</button></td>
            </tr>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td><a href="">Văn Đạt</a></td>
                <td>09/04/2023</td>
                <td hidden>04/09/2023</td>
                <td>70k VNĐ</td>
                <td>7h - 8h</td>
                <td class="cancel">Đã Huỷ</td>
                <td></td>
            </tr>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td><a href="">Văn Đạt</a></td>
                <td>09/04/2023</td>
                <td hidden>04/09/2023</td>
                <td>70k VNĐ</td>
                <td>7h - 8h</td>
                <td class="cms">Sắp Diễn Ra</td>
                <td><button class="btn-danger">Xóa</button></td>
            </tr>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td><a href="">Văn Đạt</a></td>
                <td>09/04/2023</td>
                <td hidden>04/09/2023</td>
                <td>70k VNĐ</td>
                <td>7h - 8h</td>
                <td class="done">Đã Học</td>
                <td></td>
            </tr>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td><a href="">Văn Đạt</a></td>
                <td>19/03/2023</td>
                <td hidden>03/19/2023</td>
                <td>70k VNĐ</td>
                <td>7h - 8h</td>
                <td class="cancel">Sắp Diễn Ra</td>
                <td><button class="btn-success">Tham gia học</button></td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
        <script>
      var minDate, maxDate;

      // Custom filtering function which will search data in column four between two values
      $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date(data[3]);

        if (
          (min === null && max === null) ||
          (min === null && date <= max) ||
          (min <= date && max === null) ||
          (min <= date && date <= max)
        ) {
          return true;
        }
        return false;
      });

      $(document).ready(function () {
        // Create date inputs
        minDate = new DateTime($('#min'), {
            format: 'DD/MM/YYYY',
        });
        maxDate = new DateTime($('#max'), {
            format: 'DD/MM/YYYY',
        });

        // DataTables initialisation
        var table = $('#myTable').DataTable();

        // Refilter the table
        $('#min, #max').on('change', function () {
          table.draw();
        });
      });
    </script>
    <script type="text/javascript">
      $(function () {
        $('#myTable_filter').prepend($('#dropdown-filter')).clone();
        $('#filter-fade').remove();
        $('#myTable_filter').css({ display: 'flex' });
      });
    </script>
}