
@{
    ViewData["Title"] = "Tìm gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}


<div class="search-container">
    <section class="grid-demo">

        <h2 class="section-title"><span>Tìm gia sư</span></h2>

        <div class="controls cf">
            <div class="control search">
                <div class="control-icon">
                    <i class="material-icons">&#xE8B6;</i>
                </div>
                <input class="control-field search-field form-search " type="text" name="search" placeholder="Tìm kiếm..." />
            </div>
            <div class="control filter">
                <div class="control-icon">
                    <i class="material-icons">&#xE152;</i>
                </div>
                <div class="select-arrow">
                    <i class="material-icons">&#xE313;</i>
                </div>
                <select class="control-field filter-field form-search">
                    <option value="" selected>Môn học</option>
                    <option value="">JS</option>
                    <option value="">Anh Văn Chuyên Ngành</option>
                    <option value="">HTML/CSS</option>
                </select>
            </div>
            <div class="control filter">
                <div class="control-icon">
                    <i class="material-icons">&#xE164;</i>
                </div>
                <div class="select-arrow">
                    <!-- <i class="material-icons">&#xE313;</i> -->
                </div>
                <select class="control-field sort-field form-search">
                    <option value="order" selected>Lọc Theo</option>
                    <option value="title">Gia sư yêu thích</option>
                    <option value="color">Đang hoạt động</option>
                </select>
            </div>
            <div class="control filter">
                <div class="control-icon">
                    <i class="material-icons">&#xE871;</i>
                </div>
                <div class="select-arrow">
                    <!-- <i class="material-icons">&#xE313;</i> -->
                </div>
                <select class="control-field layout-field form-search">
                    <option value="left-top" selected>Ca học</option>
                    <option value="">45 phút</option>
                    <option value="">60 phút</option>
                </select>
            </div>
        </div>
        <button class="main-btn" style="float: right;margin: 5px;">Search</button>
    </section>
    <div class="right-search">
        <div class="card-tutor-container">
            <hr>
            <div class="search-card ml-10 mt-30 mb-20">
                <div class="tutor-avt pt-50">
                    <img src="images/teacher1.png" alt="">
                </div>
                <div class="tutor-desc">
                    <h3 class="tutor-name">Mộng Trinh <span class="active-status"></span></h3>
                    <div class="tutor-rating">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span class="ml-2 mt-1">5</span>
                    </div>
                    <p class="card-price"><b>Anh văn cơ bản</b></p>
                    <h4 class="head-desc">Một gia sư Tiếng Anh thân thiện đang tìm cách giúp bạn!</h4>
                    <p class="desc">
                        Phong cách giảng dạy của tôi rất thân thiện và dễ gần. Tôi rất vui vẻ, kiên nhẫn và thích làm
                        cho các bài học của tôi trở nên vui vẻ và hấp dẫn! Trong những năm qua, tôi đã dạy kèm rất nhiều sinh viên để
                        đạt được kết quả mong muốn trong kỳ thi hoặc chỉ để cảm thấy tự tin hơn trong các môn học mà họ đang gặp khó
                        khăn. Tôi thường xuyên sử dụng phương pháp dạy mới mẻ trong các bài dạy của mình, ...
                    </p>
                </div>
                <div class="tutor-view">
                    <button class="fav-tutor">

                        <i onclick="toggle()" class="fa-solid fa-heart icon-heart" id="heart"></i>
                    </button>
                    <a href="tutor.html" class="card-btn" target="_blank">Xem Chi Tiết</a>
                </div>
            </div>
            <div class="search-card ml-10 mt-30 mb-20">
                <div class="tutor-avt pt-50">
                    <img src="images/teachers/t-2.jpg" alt="">
                </div>
                <div class="tutor-desc">
                    <h3 class="tutor-name">Thanh Long <span class="active-status"></span></h3>
                    <div class="tutor-rating">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span class="ml-2 mt-1">5</span>
                    </div>
                    <p class="card-price"><b>Tin học cơ bản</b></p>
                    <h4>Một gia sư Tin học vui tính đang muốn được hỗ trợ ban!</h4>
                    <p class="desc">
                        Phong cách giảng dạy của tôi rất thân thiện và hiện tại. Những bài học của tôi luôn chứa đựng
                        những điều thú vị và bất ngờ. Trong những năm qua, tôi đã dạy kèm rất nhiều sinh viên để đạt được kết quả
                        mong muốn trong kỳ thi hoặc chỉ để cảm thấy tự tin hơn trong các môn học mà họ đang gặp khó khăn.
                        Tôi thường xuyên sử dụng các công cụ và công cụ mới nhất trong các bài dạy của mình, ...
                    </p>
                </div>
                <div class="tutor-view">
                    <button class="fav-tutor">

                        <i onclick="toggle2()" class="fa-solid fa-heart icon-heart" id="heart2"></i>
                    </button>
                    <a href="tutor.html" class="card-btn" target="_blank">Xem Chi Tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>

