
@{
    ViewData["Title"] = "Lịch Sử Học";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container-table mt-20 pb-20">
    <h3 style="text-align:center; margin-bottom:10px">Lịch Sử Học</h3>
    <div class="row" id="dropdown-filter">
        <div class="col d-flex mr-10">
            <label class="form-label" for="min">Ngày bắt đầu:</label>
            <input type="text"
                   class="form-control-sm"
                   id="min"
                   name="min"
                   style="width: 150px" />
            <label class="form-label ml-1" for="max">Ngày kết thúc:</label>
            <input type="text"
                   id="max"
                   name="max"
                   class="form-control-sm"
                   style="width: 150px" />
        </div>
    </div>
    <table id="myTable" class="mt-100">
        <thead>
            <tr>
                <th>Môn Học</th>
                <th class="text-center">Tên Gia Sư</th>
                <th>Ngày Học</th>
                <th>Giá Tiền</th>
                <th class="text-center">Khung Giờ</th>
                <th class="text-center">Trạng Thái</th>
                <th class="text-center">Đánh giá của gia sư</th>
                <th class="text-center">Đánh giá gia sư</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Anh Văn Cơ Bản</td>
                <td class="text-center"><a href="">Văn Đạt</a></td>
                <td>18/03/2023</td>
                <td>70.000 VNĐ</td>
                <td class="text-center">7h - 8h</td>
                <td class="done text-center">Đã Học</td>
                <td class="text-center"><button class="btn-success">Xem đánh giá</button></td>
                <td class="text-center"><a href="~/Meeting/RatingTutor"><button class="btn-warning">Đánh giá</button></a></td>
            </tr>
            <tr>
                <td>Toán Cao Cấp</td>
                <td class="text-center"><a href="">Thanh Long</a></td>
                <td>05/03/2023</td>
                <td>70.000 VNĐ</td>
                <td class="text-center">7h - 8h</td>
                <td class="cancel text-center">Đã Huỷ</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>Lập Trình Java</td>
                <td class="text-center"><a href="">Văn Khánh</a></td>
                <td>15/03/2023</td>
                <td>70.000 VNĐ</td>
                <td class="text-center">7h - 8h</td>
                <td class="done text-center">Đã Học</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    <script>
      var minDate, maxDate;

      // Custom filtering function which will search data in column four between two values
      $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
          let min = moment($('#min').val(), 'DD/MM/YYYY', true).isValid() ?
              moment($('#min').val(), 'DD/MM/YYYY', true).unix() :
              null;

          let max = moment($('#max').val(), 'DD/MM/YYYY').isValid() ?
              moment($('#max').val(), 'DD/MM/YYYY', true).unix() :
              null;
          var date = moment(data[2], 'DD/MM/YYYY', true).unix();

        if (
          (min === null && max === null) ||
          (min === null && date <= max) ||
          (min <= date && max === null) ||
          (min <= date && date <= max)
        ) {
          return true;
        }
        return false;
      });

      $(document).ready(function () {
        // Create date inputs
        minDate = new DateTime($('#min'), {
            format: 'DD/MM/YYYY',
        });
        maxDate = new DateTime($('#max'), {
            format: 'DD/MM/YYYY',
        });

        // DataTables initialisation
        var table = $('#myTable').DataTable();

        // Refilter the table
        $('#min, #max').on('change', function () {
          table.draw();
        });
      });
    </script>
    <script type="text/javascript">
      $(function () {
        $('#myTable_filter').prepend($('#dropdown-filter')).clone();
        $('#filter-fade').remove();
        $('#myTable_filter').css({ display: 'flex' });
      });
    </script>
}