@model VLUTUTORS.Areas.Tutors.Controllers.MoneyServiceHistory 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-between">
                <div class="col-auto mr-auto"><h1>Quản lý ví</h1></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="card_container">
        <div class="card-checkout">
            <div class="card_name">
                <h1>Nguyễn Thanh An</h1>
            </div>
            <div class="card_number">Số dư ví: 100.000&nbsp;VND</div>
        </div>
    </div>
    <div class="col justify-content-center gap-10 d-flex">
            <div type="button" data-toggle="modal"
                 data-target="#inputModal" class="btn-card-input d-flex justify-content-center align-items-center mr-2" style="height: 50px">Nạp tiền vào ví</div>
                 
        <div type="button" data-toggle="modal"
                 data-target="#outputModal" class="btn-card-output d-flex justify-content-center align-items-center " style="height: 50px">Rút tiền</div>
    </div>
    <!-- /.content -->

    <!-- Main content -->
    <section class="content">
        <div class="row " id="dropdown-filter">
            <div class="col d-flex">
              <label class="form-label" for="min">Ngày bắt đầu:</label>
              <input
                type="text"
                class="form-control-sm"
                id="min"
                name="min"
                style="width: 150px"
              />
              <label class="form-label ml-3" for="max">Ngày kết thúc:</label>
              <input
                type="text"
                id="max"
                name="max"
                class="form-control-sm"
                style="width: 150px"
              />
            </div>
          </div>
        <!-- Default box -->
        <table id="myTable">
            <thead>
                <tr>
                    <th>Loại giao dịch</th>
                    <th>Ngày</th>
                    <th>Mã giao dịch</th>
                    <th>Số tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rút tiền</td>
                    <td>2023-02-11</td>
                    <td>GS123456</td>
                    <td>400,000</td>

                </tr>
                <hr />
                <tr>
                    <td>Nạp tiền</td>
                    <td>2023-02-12</td>
                    <td>GS654321</td>
                    <td>500,000</td>
                </tr>
            </tbody>
        </table>

        <!-- /.card -->
    </section>
</div>
<!-- /.content-wrapper -->
<div class="modal fade"
     id="inputModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="checkoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chuyển khoản</h5>
            </div>
            <div class="modal-body" style="color: red">
                <p>
                    Vui lòng chuyển khoản đến NGÂN HÀNG VIETCOMBANK - GIA SU VAN LANG - STK: 123456789
                    với nội dung: GSxxxxxx - Nguyen Thanh An
                </p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="outputModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="checkoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lập lệnh rút tiền</h5>
            </div>
            <form>
                <div class="form-group">
                    <label for="inputName">Số tiền muốn rút</label>
                    <input type="text" id="depositMoney" class="form-control" />
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            console.log(minDate, maxDate);
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[1]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY',
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY',
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#myTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();
        })
    </script>
}
