@model IEnumerable<VLUTUTORS.Models.Quyen>

@{
    ViewData["Title"] = "Quản lý quyền Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Quản lý quyền Admin</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách quyền</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageAdminRoles/AddRole">
                        <i class="fas fa-plus"> </i>
                        Thêm quyền
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 20%">#</th>
                            <th style="width: 40%">Tên quyền</th>
                            <th style="width: 20%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenQuyen)
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-info btn-sm"
                                           asp-action="EditRole" asp-controller="ManageAdminRoles" asp-route-id="@item.IdQuyen">
                                            <i class="fas fa-pen"> </i>
                                            Sửa
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        @if (TempData["message"] != null)
        {
            <script>alert('@TempData["message"]');</script>
        }
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

