
@{
    ViewData["Title"] = "Quản lý quyền Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý tài khoản</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách quyền</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageAdminRoles/AddRole">
                        <i class="fas fa-plus"> </i>
                        Thêm quyền
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 20%">#</th>
                            <th style="width: 40%">Tên quyền</th>
                            <th style="width: 20%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            var index = 0;
                            foreach (var item in Model)
                            {
                                index++;*@
                                <tr>
                                    <td>
                                        @*@index*@  1
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TaiKhoan)*@    Quyền
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm"
                                           asp-action="EditRole" asp-controller="ManageAdminRoles" asp-route-id="@*@item.Id*@">
                                            <i class="fas fa-pen"> </i>
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>
                            @*}
                        }*@
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

