@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gia Sư Văn Lang | Khôi phục mật khẩu</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/images/LogoVL.png" type="image/png" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Bạn quên mật khẩu?</h2>
                            <p>Hãy nhập email đã đăng ký để lấy lại mật khẩu</p>
                            <div class="panel-body">
                                <form id="myForm"
                                      role="form"
                                      autocomplete="off"
                                      class="form"
                                      method="post" enctype="multipart/form-data" asp-controller="Accounts" asp-action="ForGotPass">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope color-blue"></i>
                                            </span>
                                            <input id="email"
                                                   name="email"
                                                   placeholder="Địa chỉ email"
                                                   class="form-control"
                                                   type="email"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 20px">
                                        <button class="btn main-btn"
                                                type="submit"
                                                data-toggle="modal"
                                                data-target="#resetPass"
                                                onclick="popup()">
                                            Khôi phục mật khẩu
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function popup() {
            alert('Mật khẩu mới đã được gửi tới email của bạn! Vui lòng kiểm tra mail!');
        }
        $('#myForm').on('submit', function (e) {
            e.preventDefault(); // Now nothing will happen
        });
    </script>
</body>
</html>


