@model VLUTUTORS.Models.Noidung
@using VLUTUTORS.Models;
@{
    ViewData["Title"] = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
    var noiDung = new CP25Team01Context().Noidungs.FirstOrDefault(m => m.Id == 1);
}
<section id="about-page" class="pt-10 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h5>Về chúng tôi</h5>
                    <h2>Chào Mừng Đến Với VLU TUTORS</h2>
                </div>
                <!-- section title -->
                <div class="about-cont">
                    <p>
                        @noiDung.GioiThieu
                    </p>
                </div>
            </div>
            <!-- about cont -->
            <div class="col-lg-7">
                <div class="about-image mt-50">
                    <img src="~/images/about/imageabout.jpg" alt="About" />
                </div>
                <!-- about imag -->
            </div>
        </div>
        <!-- row -->
        <div class="about-items pt-60">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>01</span>
                        <h4>ĐÁNH GIÁ CHẤT LƯỢNG KHÁCH QUAN</h4>
                        <p>
                            Chúng tôi hiểu rằng "chất lượng dạy học luôn phải đặt lên hàng đầu" bên cạnh chi phí phải chăng.
                            Vì vậy chúng tôi đã tạo ra nền tảng cho phép học viên được đánh giá chất lượng dạy & học.
                            Những thông tin này là vô cùng hữu ích cho những người học tiếp theo.
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>02</span>
                        <h4>KẾT NỐI DẠY VÀ HỌC</h4>
                        <p>
                            Hướng đi của chúng tôi đó là "Kết nối nhu cầu học tập của người học tới những gia sư uy tín đã qua xét duyệt".
                            Việc này có ý nghĩa to lớn trong việc tiết kiệm chi phí thời gian tìm kiếm cũng như tạo ra một nền
                            tảng đánh giá chất lượng khách quan bởi cộng đồng.
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>03</span>
                        <h4>NHANH, ĐƠN GIẢN, TIẾT KIỆM</h4>
                        <p>
                            Sử dụng thành tựu công nghệ thời đại 4.0, chúng tôi tạo ra nền tảng mà người học và người dạy được
                            "kết nối trực tiếp" rất nhanh và chính xác theo đúng những nhu cầu học đã đăng lên.
                            Đặc biệt, chúng tôi mang đến cho người học một mức giá hợp lý nhất.
                        </p>
                    </div>
                    <!-- about singel -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- about items -->
    </div>
    <!-- container -->
</section>

