@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====== SLIDER PART START ======-->
<section id="slider-part-3"
         class="bg_cover">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="slider-cont-3 text-center">
                    <h2>Chào Mừng Đến Với Gia Sư Văn Lang</h2>
                    <span>@ViewData["Slogan"]</span>
                </div>
                <!-- slider cont3 -->
            </div>
        </div>
        <!-- row -->
        <div class="slider-feature pt-30 d-none d-md-block">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/man.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">130</h3>
                            <span>Gia Sư</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/book.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">5</h3>
                            <span>Môn Học Khác Nhau</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="singel-slider-feature justify-content-center mt-30">
                        <div class="icon">
                            <img src="~/images/all-icon/expert.png" alt="icon" />
                        </div>
                        <div class="cont">
                            <h3 class="counter">50</h3>
                            <span>Học Viên Đang Học</span>
                        </div>
                    </div>
                    <!-- singel slider feature -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- slider feature -->
    </div>
    <!-- container -->
</section>

<!--====== SLIDER PART ENDS ======-->
<!--====== CATEGORY PART START ======-->
<section id="category-3" class="category-2-items pt-50 pb-80 gray-bg">
    <div class="container">
        <div class="row-item">
            <div class="col-lg-3 col-md-6 pl-0">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/ctg-1.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <a href="#">
                            <h5>Anh văn cơ bản</h5>
                            <span>10 Gia sư</span>
                        </a>
                    </div>
                </div>
                <!-- singel items -->
            </div>
            <div class="col-lg-3 col-md-6 pl-0">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/ctg-1.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <a href="#">
                            <h5>Anh văn cơ bản</h5>
                            <span>10 Gia sư</span>
                        </a>
                    </div>
                </div>
                <!-- singel items -->
            </div>
            <div class="col-lg-3 col-md-6 pl-0">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/ctg-1.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <a href="#">
                            <h5>Tin học cơ bản</h5>
                            <span>10 Gia sư</span>
                        </a>
                    </div>
                </div>
                <!-- singel items -->
            </div>
            <div class="col-lg-3 col-md-6 pl-0">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/ctg-1.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <a href="#">
                            <h5>Coming soon</h5>
                            <span>Coming soon</span>
                        </a>
                    </div>
                </div>
                <!-- singel items -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-items text-center mt-30">
                    <div class="items-image">
                        <img src="~/images/category/ctg-1.jpg" alt="Category" />
                    </div>
                    <div class="items-cont">
                        <a href="#">
                            <h5>Coming soon</h5>
                            <span>Coming soon</span>
                        </a>
                    </div>
                </div>
                <!-- singel items -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== TEACHERS PART START ======-->

<section id="teachers-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <h3>Gia Sư Nổi Bật</h3>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-1.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="#"><h6>MarkMark alen</h6></a>
                        <span>Vice chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-2.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>David card</h6></a>
                        <span>Pro chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-3.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>Rebeka alig</h6></a>
                        <span>Pro chencelor</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image">
                        <img src="~/images/teachers/t-4.jpg" alt="Teachers" />
                    </div>
                    <div class="cont">
                        <a href="teachers-singel.html"><h6>Hanna bein</h6></a>
                        <span>Aerobics head</span>
                    </div>
                </div>
                <!-- singel teachers -->
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <nav class="courses-pagination mt-50">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="active" href="#">1</a></li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- courses pagination -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!--====== TEACHERS PART END ======-->
<!--====== CULTING PART START ======-->
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="count-down-cont mt-50">
                    <img src="~/images/teacher-up-down.png" />
                </div>
                <!-- count down cont -->
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-8">
                <div class="category-form category-form-3 mt-150">
                    <div class="form-title text-center">
                        <h3>Đăng ký tư vấn</h3>
                        <span>Miễn phí </span>
                    </div>
                    <div class="main-form">
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SendConsulting">
                            <div class="singel-form">
                                <input type="text" name="HoTen" placeholder="Tên của bạn" data-error="Vui lòng không để trống!." required="required" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="singel-form">
                                <input type="tel" name="SDT" placeholder="Điện thoại" data-error="Vui lòng không để trống!." required="required" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="singel-form">
                                <input type="text" name="NoiDung" placeholder="Nội dung cần tư vấn" data-error="Vui lòng không để trống!." required="required" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="singel-form">
                                <button class="main-btn" type="submit" onclick="popup()">
                                    Đăng ký tư vấn
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- category form -->
            </div>
        </div>
        <!-- row -->
    </div>
    <script>
        function popup() {
            alert('Đăng ký tư vấn được gửi thành công!');
        }
        $('#myForm').on('submit', function (e) {
            e.preventDefault(); // Now nothing will happen
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
        </script>
    }
    <!-- container -->
</section>

<!--====== CULTING PART ENDS ======-->
