@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<h1>CHÍNH SÁCH QUYỀN RIÊNG TƯ VÀ ĐIỀU KHOẢN</h1>
<p><strong> MỤC ĐÍCH VÀ PHẠM VI THU THẬP</strong></p>
<p>Việc thu thập dữ liệu chủ yếu trên website bao gồm: họ và tên, email, số điện thoại, giới tính, ngày sinh do Gia Sư Văn Lang quản lý. Việc thu thập những thông tin kể trên là bắt buộc và cần thiết cho cả khách hàng lẫn nhân viên quản trị của Gia Sư Văn Lang. Mục đích của công việc này nhằm tạo nên một nền tảng thông tin cơ bản của khách hàng, từ đây nhu cầu cần được tư vấn, sử dụng dịch vụ hay có khiếu nại của khách hàng sẽ được Gia Sư Văn Lang đáp ứng dựa trên những thông tin thực, sẵn có. Thao tác thu thập dữ liệu cũng đẩy nhanh quá trình trao đổi giữa khách hàng (những người có nhu cầu sử dụng dịch vụ gia sư) và thành viên phụ trách, đây cũng chính là hành động nhằm bảo vệ quyền lợi của khách hàng.</p>
<p>Khách hàng đăng ký sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới thông tin mà mình cung cấp và hộp thư điện tử của mình. Các biện pháp cần thiết sẽ được áp dụng để bảo vệ thông tin cá nhân thu thập được và thông tin cá nhân của khách hàng sẽ không được cung cấp cho bất cứ bên thứ ba nào. Bên cạnh đó, trong trường hợp phát hiện hành vi sử dụng trái phép hoặc vi phạm bảo mật của bên thứ ba, khách hàng có trách nhiệm thông báo kịp thời cho quản trị viên website của Gia Sư Văn Lang để có biện pháp giải quyết phù hợp.</p>
<p><strong> PHẠM VI SỬ DỤNG THÔNG TIN</strong></p>
<p>Gia Sư Văn Lang&nbsp;sử dụng thông tin khách hàng cung cấp để:</p>
<ul>
    <li>Liên hệ tư vấn dịch vụ cho khách hàng khi nhận được đăng ký từ&nbsp;khách hàng.</li>
    <li>Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt.</li>
    <li>Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, Tòa án, cơ quan Công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng.</li>
</ul>
<p><strong> THỜI GIAN LƯU TRỮ THÔNG TIN</strong></p>
<p>Trong trường hợp thông thường, thông tin cá nhân của khách hàng sẽ được luôn bảo mật và lưu trữ trên hệ thống máy chủ của Gia Sư Văn Lang. Khi có yêu cầu hủy bỏ bởi Ban quản trị, các thông tin sẽ được gỡ bỏ hoặc thay thế tùy yêu cầu.</p>
<p><strong> NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ ĐƯỢC TIẾP CẬN VỚI THÔNG TIN ĐÓ</strong></p>
<p>Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:</p>
<ul>
    <li>Nhân viên của Gia Sư Văn Lang được phân công.</li>
</ul>
<p><strong> ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG TIN, BAO GỒM CÁCH THỨC LIÊN LẠC ĐỂ KHÁCH HÀNG CÓ THỂ HỎI VỀ HOẠT ĐỘNG THU THẬP, XỬ LÝ THÔNG TIN LIÊN QUAN ĐẾN CÁ NHÂN MÌNH.&nbsp;&nbsp;</strong></p>
<p><strong><em>Trung tâm Hỗ trợ Sinh viên - Trường Đại học Văn Lang</em></strong></p>
<p><strong><em>Địa chỉ :</em></strong>&nbsp;Phòng 1.04, Tòa nhà A, 69/68 Đặng Thùy Trâm, P.13, Q.Bình Thạnh, Tp.HCM<br><strong><em>Điện thoại:</em></strong>&nbsp;02871099218</p>
<p><strong><em>Email:</em></strong>&nbsp;<a href="mailto:t.sv@vanlanguni.edu.vn">t.sv@vanlanguni.edu.vn</a></p>
<p><strong> PHƯƠNG THỨC VÀ CÔNG CỤ ĐỂ KHÁCH HÀNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN CỦA MÌNH TRÊN HỆ THỐNG.</strong></p>
<p>Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân trực tiếp trên website hoặc hủy bỏ thông tin cá nhân của mình bằng cách liên hệ với Ban quản trị website Gia Sư Văn Lang&nbsp;thực hiện việc này.</p>
<p><strong> CƠ CHẾ TIẾP NHẬN VÀ GIẢI QUYẾT KHIẾU NẠI CỦA KHÁCH HÀNG LIÊN QUAN ĐẾN VIỆC THÔNG TIN CÁ NHÂN BỊ SỬ DỤNG SAI MỤC ĐÍCH HOẶC PHẠM VI ĐÃ THÔNG BÁO.</strong></p>
<p>Thông tin cá nhân của khách hàng được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân. Việc thu thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của người đó đó trừ những trường hợp pháp luật có quy định khác.</p>
<p>Trong trường hợp có khiếu nại về nội dung bảo mật thông tin, đề nghị khách hàng liên hệ Ban quản trị của website Gia Sư Văn Lang. Khi tiếp nhận những phản hồi này, Ban quản trị và nhân viên phụ trách của Gia Sư Văn Lang&nbsp;sẽ xác nhận lại thông tin. Trong trường hợp đúng như phản ánh của khách hàng thì tùy theo mức độ, Ban quản trị Gia Sư Văn Lang&nbsp;sẽ có những biện pháp xử lý kịp thời.</p>
<p><strong> CHÚNG TÔI XIN CAM KẾT</strong></p>
<ol>
    <li>Mọi thông tin cá nhân của khách hàng thu thập được từ website Gia Sư Văn Lang sẽ được lưu giữ an toàn.</li>
    <li>Gia Sư Văn Lang&nbsp;bằng nỗ lực tốt nhất của mình, sẽ áp dụng các giải pháp công nghệ để ngăn chặn các hành vi đánh cắp hoặc tiếp cận thông tin trái phép; sử dụng, thay đổi hoặc phá hủy thông tin trái phép.</li>
    <li>Trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân, gây ảnh hưởng xấu đến khách hàng, Gia Sư Văn Lang&nbsp;sẽ ngay lập tức thông báo cho khách hàng và trình vụ việc cho cơ quan chức năng điều tra xử lý.</li>
    <li>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa.</li>
    <li>Khách hàng có nghĩa vụ bảo mật tên đăng ký, mật khẩu và hộp thư điện tử của mình. Gia Sư Văn Lang&nbsp;sẽ không chịu trách nhiệm dưới bất kỳ hình thức nào đối với các thiệt hại, tổn thất (nếu có) do khách hàng không tuân thủ quy định bảo mật này.</li>
    <li>Khách hàng tuyệt đối không được có các hành vi sử dụng công cụ, chương trình để can thiệp trái phép vào hệ thống hay làm thay đổi dữ liệu của Gia Sư Văn Lang. Trong trường hợp Gia Sư Văn Lang&nbsp;phát hiện khách hàng có hành vi cố tình giả mạo, gian lận, phát tán thông tin cá nhân trái phép… Gia Sư Văn Lang&nbsp;có quyền chuyển thông tin cá nhân của khách hàng cho các cơ quan có thẩm quyền để xử lý theo quy định của pháp luật.</li>
    <li>Tất cả các hồ sơ cá nhân chỉ được cung cấp bản tóm tắt đúng quy định của pháp luật, các trường hợp khác cần có yêu cầu từ cơ quan có thẩm quyền (hội đồng giám định, tòa án,&nbsp;viện kiểm sát&#8230;)</li>
</ol>
<p><strong>ĐIỀU KHOẢN ĐỐI VỚI GIA SƯ</strong></p>
<p>Đối với các khách hàng là gia sư của Gia Sư Văn Lang cần cam kết thực hiện những việc sau:</p>
<ul>
    <li>Đảm bảo giữ bí mật về thông tin chiết khấu của trang web.</li>
    <li>Đảm bảo bí mật về các video bài giảng, record các buổi dạy</li>
    <li>Cam kết giữ đúng chuẩn mực và thái độ niềm nở khi lên lớp dạy</li>
</ul>
<p>Trong trường hợp có vấn đề phát sinh cần liên hệ ngay với Ban quản trị website để được hỗ trợ nhanh nhất. Nếu Gia Sư Văn Lang phát hiện các hành vi trái với cam kết trên hoặc gây ảnh hưởng đến uy tính và chất lượng của trang web sẽ bị khóa tài khoản vĩnh viễn khỏi hệ thống, kèm theo các chế tài nếu có tùy theo mức độ ảnh hưởng</p>
<p>Mọi hành vi sử dụng thông tin, hình ảnh người học với mục đích ngoài phạm vi gia sư, Gia Sư Văn Lang có quyền chuyển thông tin cho các cơ quan có thẩm quyền để xử lý theo quy định của pháp luật.</p>