@model VLUTUTORS.Models.Taikhoannguoidung
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/form_style.css" />
    <link rel="shortcut icon" href="~/images/favicon2.png" type="image/png" />
    <title>VLU TUTORS - Trở Thành Gia Sư</title>
    <script src="~/js/app.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
</head>
<body>
    <div class="container-bat">
        <div class="hero">
            <a class="logo-link" href='javascript:history.go(-1)'>
                <img class="hero-logo" src="~/images/logo-vlu.png" alt="" />
            </a>
            <p class="hero-content">
                Tham Gia Để Cùng Phát Triển Đội Ngũ Gia Sư Văn Lang
            </p>
        </div>

        <div class="sign-up">
            <a href='javascript:history.go(-1)' class="back-btn">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div class="container-sign-up">
                <p class="sign-up__desc">
                    <span>Trở thành gia sư chỉ với 1 bước</span>
                </p>
                <form action="" class="form-regis__tutor sign-up__form">
                    <div class="container--tt">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <p><b>Thông Tin Cá Nhân</b></p>
                                        <div class="form__input">
                                            <input class=""
                                                   type="tel"
                                                   name="phone"
                                                   id="phone"
                                                   placeholder="Nguyen Thanh An"
                                                   value=""
                                                   required
                                                   readonly />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <input class=""
                                                   type="tel"
                                                   name="phone"
                                                   id="phone"
                                                   placeholder="an.197pm09415@vanlanguni.vn"
                                                   value=""
                                                   required
                                                   readonly />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <b>Khoa đang học</b>
                                                @Html.DropDownListFor(m => m.DepartmentItems, Model.DepartmentItems, new { @class = "form-control select-region" })
                                        <div class="form-radio">
                                            <label for="form__label" class="form__label">Giới tính</label>
                                            <li>
                                                <input class=""
                                                       type="radio"
                                                       name="sex"
                                                       id="male"
                                                       checked="checked"
                                                       value=""
                                                       required />
                                                <label class="lb-radio" for="male">Nam</label>
                                            </li>
                                            <li>
                                                <input class=""
                                                       type="radio"
                                                       name="sex"
                                                       id="female"
                                                       value="Nữ"
                                                       required />
                                                <label class="lb-radio" for="female">Nữ</label>
                                            </li>
                                        </div>
                                        <div class="form__input">
                                            <input class=""
                                                   type="date"
                                                   name="dob"
                                                   id="dob"
                                                   placeholder="Ngày sinh"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <input class=""
                                                   type="tel"
                                                   name="phone"
                                                   id="phone"
                                                   placeholder="Số điện thoại"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>

                                        <div class="form__input">
                                            <input class=""
                                                   type="text"
                                                   name="bank-number"
                                                   id="bank-number"
                                                   placeholder="Số tài khoản"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <b>Tên ngân hàng hoặc ví điện tử</b>
                                                @Html.DropDownListFor(m => m.BankItems, Model.BankItems, new { @class = "form-control select-region" })
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        <div class="form__input">
                                            <input class=""
                                                   type="text"
                                                   name="avr-subject"
                                                   id="avr-subject"
                                                   placeholder="Điểm trung bình tích lũy"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <label for="form__label" class="form__label">Ảnh đại diện</label>
                                            <input class=""
                                                   type="file"
                                                   name="avt"
                                                   id="avt"
                                                   value=""
                                                   required
                                                   accept=".jpg, .jpeg, .png" />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <textarea class=""
                                                      type="text"
                                                      name="intro-urself"
                                                      id="intro-urself"
                                                      placeholder="Giới thiệu bản thân"
                                                      value=""
                                                      required></textarea>
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <textarea class=""
                                                      type="text"
                                                      name="rate-urself"
                                                      id="rate-urself"
                                                      placeholder="Đánh giá bản thân về việc gia sư"
                                                      value=""
                                                      required></textarea>
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <p><b>Thông Tin Môn Gia Sư 1</b></p>
                                        <b>Chọn môn gia sư</b>
                                                @Html.DropDownListFor(m => m.Subject1Items, Model.Subject1Items, new { @class = "form-control select-region" })
                                        <div class="form__input">
                                            <label for="form__label" class="form__label">Tên chứng chỉ/Điểm trung bình môn</label>
                                            <input class=""
                                                   type="text"
                                                   name="avr-subject"
                                                   id="avr-subject"
                                                   placeholder="Cách nhau dấu ,"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                        <div class="form__input">
                                            <label for="form__label" class="form__label">Chứng chỉ hoặc mình chứng kèm theo</label>
                                            <input class=""
                                                   type="file"
                                                   name="certificate"
                                                   id="certificate"
                                                   placeholder="Chứng Chỉ"
                                                   value=""
                                                   required
                                                   multiple="multiple"
                                                   accept=".jpg, .jpeg, .png" />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>

                                        <div class="form__input">
                                            <textarea class=""
                                                      type="text"
                                                      name="intro-subject"
                                                      id="intro-subject"
                                                      placeholder="Giới thiệu về môn muốn gia sư"
                                                      value=""
                                                      required></textarea>
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p><b>Thông Tin Môn Gia Sư 2 (nếu có)</b></p>
                                         <b>Chọn môn gia sư</b>
                                                @Html.DropDownListFor(m => m.Subject2Items, Model.Subject2Items, new { @class = "form-control select-region" })
                                        <div class="form__input">
                                            <label for="form__label" class="form__label">Tên chứng chỉ/Điểm trung bình môn</label>
                                            <input class=""
                                                   type="text"
                                                   name="avr-subject"
                                                   id="avr-subject"
                                                   placeholder="Cách nhau dấu ,"
                                                   value=""
                                                   required />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>

                                        <div class="form__input">
                                            <label for="form__label" class="form__label">Chứng chỉ hoặc mình chứng kèm theo</label>
                                            <input class=""
                                                   type="file"
                                                   name="certificate"
                                                   id="certificate"
                                                   placeholder="Chứng Chỉ"
                                                   value=""
                                                   required
                                                   multiple="multiple"
                                                   accept=".jpg, .jpeg, .png" />
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>

                                        <div class="form__input">
                                            <textarea class=""
                                                      type="text"
                                                      name="intro-subject"
                                                      id="intro-subject"
                                                      placeholder="Giới thiệu về môn muốn gia sư"
                                                      value=""
                                                      required></textarea>
                                            <span class="warning-icon">!</span>
                                            <p class="warning">Vui lòng điền đầy đủ thông tin</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="submit-btn" type="submit" value="Đăng Ký" />
                    <br />
                    <p class="form__terms text-center">
                        Bằng cách nhấp vào nút đăng ký, bạn đồng ý với
                        <span>Điều khoản và Dịch vụ</span> của chúng tôi
                    </p>
                </form>
            </div>
        </div>
        <!-- sign-up ends -->
    </div>
</body>
</html>
<script>
    const form = document.querySelector('.sign-up__form');
    const inputs = document.querySelectorAll('.form__input');

    clearInputs(inputs);
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        inputs.forEach((input) => {
            let inputValue = input.firstElementChild;
            if (inputValue.getAttribute('id') === 'email') {
                validateEmail(inputValue, input);
            } else {
                validateLength(inputValue, input);
            }
        });
    });

    function clearInputs() {
        inputs.forEach((input) => {
            let inputValue = input.firstElementChild;
            inputValue.value = '';
        });
    }
</script>


