
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-between">
                <div class="col-auto mr-auto"><h1>Quản lý lịch dạy</h1></div>
                <button data-toggle="modal"
                        data-target="#exampleModal"
                        class="col-auto btn-success">
                    Thêm lịch dạy
                </button>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- modal Add -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Thêm lịch dạy
                    </h5>
                    <button type="button"
                            class="close text-right"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="inputName">Tên môn gia sư</label>
                            <select class="form-control" name="" id="">
                                <option value="">Anh văn cơ bản</option>
                            </select>
                        </div>
                        <div>
                            <label for="select-shifts">Loại ca dạy</label>
                            <select class="form-control mb-2"
                                    name="select-shifts"
                                    id="">
                                <option value="">45 Phút</option>
                                <option value="">60 Phút</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputName">Ngày dạy</label>
                            <input type="date" id="inputName" class="form-control" />
                        </div>
                        <div class="form-group form-flex">
                            <label for="">Chọn Khung Giờ</label>
                            <div class="input-flex">
                                <input type="time"
                                       id="inputDate"
                                       class="form-control form-date" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Hủy
                    </button>
                    <button type="button" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <table id="myTable">
            <thead>
                <tr>
                    <th>Tên Môn Học</th>
                    <th>Ngày</th>
                    <th>Khung Giờ</th>
                    <th>Ca dạy</th>
                    <th class="th-action"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Anh Văn Cơ Bản</td>
                    <td>12/01/2023</td>
                    <td>7h - 7h45</td>
                    <td>45 Phút</td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="~/Tutors/SignUpLessonPlan/EditLessonPlan">
                            <i class="fas fa-pencil-alt"> </i>
                            Sửa
                        </a>
                    </td>
                </tr>
                <hr />
                <tr>
                    <td>Tin Học Cơ Bản</td>
                    <td>12/01/2023</td>
                    <td>7h - 7h45</td>
                    <td>45 Phút</td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="update-calendar.html">
                            <i class="fas fa-pencil-alt"> </i>
                            Sửa
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
