
@{
    ViewData["Title"] = "Bài đánh giá gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container my-3">
    <h1 class="my-3">Đánh giá năng lực gia sư</h1>
    <div class="quiz-container my-3">
        <div class="quiz-title my-4 mx-3">
            <h4>Vision Statement includes:</h4>
        </div>

        <div class="quiz-content mx-3 mb-4">
            <div>
                <input type="radio" name="" id="a">
                <label for="a">a. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="b">
                <label for="b">b. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="c">
                <label for="c">c. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="d">
                <label for="d">d. Target customers Statement of need</label>
            </div>
        </div>
    </div>
    <div class="quiz-container my-3">
        <div class="quiz-title my-4 mx-3">
            <h4>Vision Statement includes:</h4>
        </div>

        <div class="quiz-content mx-3 mb-4">
            <div>
                <input type="radio" name="" id="a">
                <label for="a">a. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="b">
                <label for="b">b. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="c">
                <label for="c">c. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="d">
                <label for="d">d. Target customers Statement of need</label>
            </div>
        </div>
    </div>
    <div class="quiz-container my-3">
        <div class="quiz-title my-4 mx-3">
            <h4>Vision Statement includes:</h4>
        </div>

        <div class="quiz-content mx-3 mb-4">
            <div>
                <input type="radio" name="" id="a">
                <label for="a">a. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="b">
                <label for="b">b. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="c">
                <label for="c">c. Target customers Statement of need</label>
            </div>
            <div>
                <input type="radio" name="" id="d">
                <label for="d">d. Target customers Statement of need</label>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end"><button class="main-btn" id="submit">Nộp bài</button></div>

</div>

