
@{
    ViewData["Title"] = "Đào tạo gia sư";
    Layout = "~/Views/Shared/_otherPageLayout.cshtml";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <div class="course-wrapper">
                <div class="course-title-wrapper">
                    <div class="course-title ml-4">
                        <h2>Khoa dao tao gia su</h2>
                    </div>
                </div>
                <div class="course-content my-4">
                    <ul class="course-list">
                        <li class="course-item mb-2"><h3>bài 1</h3></li>
                        <li class="course-item mb-2"><h3>bài 2</h3></li>
                        <li class="course-item mb-2"><h3>bài 3</h3></li>
                        <li class="course-item mb-2"><h3>bài 4</h3></li>
                        <li class="course-item mb-2"><h3>bài 5</h3></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="course-video">
                <iframe width="560" height="315" src=@ViewData["link"] frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

