@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VLUTUTORS.Models.Khoadaotao
@{
    ViewData["Title"] = "Thêm mới bài học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/Admin/ManageCourse">Quản lý khóa đào tạo</a></li>
                    <li class="breadcrumb-item active">Thêm mới bài học</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form method="post" enctype="multipart/form-data" asp-controller="ManageCourse" asp-action="AddLesson">
        <section class="content">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h3>Thêm mới bài học</h3>
                                    <hr />
                                    @Html.HiddenFor(m => m.IdBaiHoc)
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Tên bài học</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary" name="TenBaiHoc" id="TenBaiHoc" type="text">
                                        @Html.ValidationMessageFor(m => m.TenBaiHoc, "", new { @class = "text-danger" })
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Tệp bài giảng</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary"
                                               type="file"
                                               name="tepBaiGiang"
                                               multiple="multiple"
                                               accept=".doc, .docx, .pdf" />
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Link video bài học</h6>
                                        </div>
                                        <div class="col-sm-9" id="divCont">
                                            <div>
                                                <input class="text-secondary" name="LinkVideo" id="LinkVideo" type="text">
                                                <input onclick="AddTextBox()" type="button" value="Thêm link" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-12 flex-right mb-4">
                                            <a href='javascript:history.go(-1)' class="btn btn-secondary mr-3">Quay Lại</a>
                                            <input type="submit" value="Lưu" class="btn btn-success" onclick="popup()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.content -->
</div>
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
<script type="text/javascript">

    function getDynamicTextBox(value) {
        return '<div><input class="text-secondary" name="LinkVideo" id="LinkVideo" type="text"><input onclick ="RemoveTextBox(this)" type ="button" value ="Xóa" class="btn-delete"/><div>'
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        div.innerHTML = getDynamicTextBox("");
        document.getElementById("divCont").appendChild(div);
    }
    function RemoveTextBox(div) {
        document.getElementById("divCont").removeChild(div.parentNode.parentNode);
    }
</script>



