@model IEnumerable<VLUTUTORS.Models.Baihoc>
@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chi tiết khóa đào tạo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/Admin/ManageCourse">Quản lý khóa đào tạo</a></li>
                    <li class="breadcrumb-item active">Chi tiết khóa đào tạo</li>
                </ol>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Chi tiết khóa đào tạo</h1>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách bài học</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm"
                       href="~/Admin/ManageCourse/AddLesson">
                        <i class="fas fa-plus"> </i>
                        Thêm bài học
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%">STT</th>
                            <th style="width: 35%">Tên bài học</th>
                            <th style="width: 35%">Link bài học</th>
                            <th style="width: 25%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a>Ứng dụng PPT</a>
                            </td>
                            <td>
                                <a>Link</a>
                            </td>
                            <td class="project-actions">
                                <a class="btn btn-info btn-sm"
                                   asp-action="EditLesson" asp-controller="ManageCourse" asp-route-id="#">
                                    <i class="fas fa-pencil-alt"> </i>
                                    Sửa
                                </a>
                                <a class="btn btn-danger btn-sm"
                                   data-toggle="modal"
                                   data-target="#exampleModal"
                                   href="#">
                                    <i class="fas fa-trash"> </i>
                                    Xoá
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Bạn muốn xóa khóa đào tạo này?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Hủy
                </button>
                <button class="btn btn-primary" type="button" onclick="location.href='#'">
                    Đồng ý
                </button>
            </div>
        </div>
    </div>
</div>

