@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/Tutors/Views/Shared/_TutorsLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center text-center text-uppercase">
                <div class="col-sm-6">
                    <h1>Thống Kê Gia Sư</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Tổng số ca dạy của gia sư: </h3>
                            <div class="d-flex" id="charttutor" style="width:570px;height:350px"></div>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Tổng thu nhập đạt được:</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3>Tổng số giờ đã dạy:</h3>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);
    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Tutors/Home/GetLessonTutor',
                success: function (chartsdata) {
                    var Data = chartsdata.jsonList;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'CategoryName');
                    data.addColumn('number', 'PostCount');

                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].categoryName, Data[i].postCount]);
                    }

                    var chart = new google.visualization.PieChart(document.getElementById('charttutor'));
                    chart.draw(data,
                        {
                            title: "Thống kê số ca dạy của gia sư",
                            position: "top",
                            fontsize: "20px"
                        });
                },
                error: function () {
                    alert('Lỗi dữ liệu, vui lòng thử lại sau!')
                }
            });
        });
    }
</script>
